<p data-lake-id="u76acbbf0" id="u76acbbf0"><br></p>

In [307]:
#test read meta data
import pandas as pd
import gzip

def parse(path):
    g = gzip.open(path, 'rb') 
    for l in g:
        yield eval(l)

def backDF(path):
    item_also_view = dict()
    item_similar = dict()
    i = 0
    for d in parse(path):
        # print(d)
        # print(d['asin'],len(d['also_view']),len(d['similar_item']))
        # break
        try:
            # print(d['asin'],d['related']['also_viewed'])
            item_also_view[d['asin']]=d['related']['also_viewed']
            item_similar[d['asin']]=d['related']['also_viewed']
            i += 1
        except:
            pass
        # if i>20:
        #     break
    # print(item_also_view,item_similar)
    print(i)
    return item_also_view,item_similar
    

meta1 = '/ossfs/workspace/denoise_cdsr/dataset_14/meta_Cell_Phones_and_Accessories.json.gz'
meta2 = "/ossfs/workspace/denoise_cdsr/dataset_14/meta_Electronics.json.gz"
meta1_item_also_view, meta1_item_similar = backDF(meta1) 
meta2_item_also_view, meta2_item_similar = backDF(meta2) 
# print(meta1_item_also_view, meta1_item_similar,meta2_item_also_view, meta2_item_similar)

87292
190555

In [308]:
import pandas as pd
import json
from collections import defaultdict

def filter_data(filePath):
    data = []
    ratings = pd.read_csv(filePath, delimiter=",", encoding="latin1")
    '''
       Notice: amazon 18 version ratings only order is different from 14 version.
    '''
    # ratings.columns = ['itemId' ,'userId', 'Rating', 'timesteamp'] # 18 version
    ratings.columns = ['userId', 'itemId', 'Rating', 'timesteamp'] # 14 version
    rate_size_dic_i = ratings.groupby('itemId').size()
    # choosed_index_del_i = rate_size_dic_i.index[rate_size_dic_i < 10]
    choosed_index_del_i = rate_size_dic_i.index[rate_size_dic_i < 10]
    ratings = ratings[~ratings['itemId'].isin(list(choosed_index_del_i))] # item freq more than 10

    user_unique = list(ratings['userId'].unique())
    movie_unique = list(ratings['itemId'].unique())

    u = len(user_unique)
    i = len(movie_unique)
    rating_num = len(ratings)
    ratings = ratings.drop(columns=['timesteamp'])
    return u, i, rating_num, user_unique, ratings

def filter_user(ratings1, ratings2):
    rate_size_dic_u1 = ratings1.groupby('userId').size()
    rate_size_dic_u2 = ratings2.groupby('userId').size()
    choosed_index_del_u1 = rate_size_dic_u1.index[rate_size_dic_u1 < 5]
    choosed_index_del_u2 = rate_size_dic_u2.index[rate_size_dic_u2 < 5]
    ratings1 = ratings1[~ratings1['userId'].isin(list(choosed_index_del_u1) + list(choosed_index_del_u2))]
    ratings2 = ratings2[~ratings2['userId'].isin(list(choosed_index_del_u1) + list(choosed_index_del_u2))]
    return ratings1, ratings2

def filter_item(ratings1, ratings2):
    rate_size_dic_u1 = ratings1.groupby('itemId').size()
    rate_size_dic_u2 = ratings2.groupby('itemId').size()
    choosed_index_del_u1 = rate_size_dic_u1.index[rate_size_dic_u1 < 5]
    choosed_index_del_u2 = rate_size_dic_u2.index[rate_size_dic_u2 < 5]
    ratings1 = ratings1[~ratings1['itemId'].isin(list(choosed_index_del_u1) + list(choosed_index_del_u2))]
    ratings2 = ratings2[~ratings2['itemId'].isin(list(choosed_index_del_u1) + list(choosed_index_del_u2))]
    return ratings1, ratings2

def reindex_ratings(ratings1,ratings2):
    user_unique1 = list(ratings1['userId'].unique())
    user_unique2 = list(ratings2['userId'].unique())
    item_unique1 = list(ratings1['itemId'].unique())
    item_unique2 = list(ratings2['itemId'].unique())
    user_dict = dict()
    item_dict = dict()
    for i in range(len(user_unique1)):
        user_dict[user_unique1[i]] = i
    for i in range(len(user_unique2)):
        user_dict[user_unique2[i]] = i + len(user_dict)
    for i in range(len(item_unique1)):
        item_dict[item_unique1[i]] = i
    for i in range(len(item_unique2)):
        item_dict[item_unique2[i]] = i + len(item_dict)
    ratings1['userId'] = ratings1['userId'].apply(lambda x :user_dict[x])
    ratings2['userId'] = ratings2['userId'].apply(lambda x :user_dict[x])
    ratings1['itemId'] = ratings1['itemId'].apply(lambda x :item_dict[x])
    ratings2['itemId'] = ratings2['itemId'].apply(lambda x :item_dict[x])
    print("all user number :{}, item number :{}".format(len(user_dict),len(item_dict)))
    return ratings1,ratings2
    
def find_dict(ratings):
    seq = defaultdict(list)  
    uid = ratings['userId'].tolist()
    iid = ratings['itemId'].tolist()
    for i in range(len(uid)):
        seq[uid[i]].append(iid[i])
    return seq

# music domain 0 movie domain 1 all filter user number :110073, item number :44741
music_csv = "/ossfs/workspace/NMCDR/MRHG/amazon/ratings_Cell_Phones_and_Accessories.csv"#"/ossfs/workspace/MRHG/amazon/ratings_Cell_Phones_and_Accessories.csv"#"/ossfs/workspace/MRHG/amazon/ratings_Clothing_Shoes_and_Jewelry.csv"#"/ossfs/workspace/MRHG/amazon/ratings_Digital_Music.csv"
movie_csv = "/ossfs/workspace/NMCDR/MRHG/amazon/ratings_Electronics.csv"#"/ossfs/workspace/MRHG/amazon/ratings_Electronics.csv"#"/ossfs/workspace/MRHG/amazon/ratings_Sports_and_Outdoors.csv"#"/ossfs/workspace/MRHG/amazon/ratings_Movies_and_TV.csv"
u1, i1, rating_num1, user_unique1, ratings1 = filter_data(music_csv)
u2, i2, rating_num2, user_unique2, ratings2 = filter_data(movie_csv)
print(u1,i1,rating_num1,u2,i2,rating_num2)

ratings1 = ratings1.loc[ratings1['Rating']>=3.0]
ratings2 = ratings2.loc[ratings2['Rating']>=3.0]

ratings1, ratings2 = filter_user(ratings1, ratings2) # del overlap user < 5
ratings1, ratings2 = filter_item(ratings1, ratings2) # del overlap user < 5
# print(len(ratings1),len(ratings2))

ratings1 = ratings1.loc[ratings1['Rating']>=3.0]
ratings1 = ratings1.drop(columns=['Rating'])
ratings2 = ratings2.loc[ratings2['Rating']>=3.0]
ratings2 = ratings2.drop(columns=['Rating'])
print(len(list(ratings1['userId'].unique())),len(list(ratings1['itemId'].unique())),len(ratings1))
print(len(list(ratings2['userId'].unique())),len(list(ratings2['itemId'].unique())),len(ratings2))
# print(len(ratings1),len(ratings2)) # paper dataset anlysis here 80% for train 20% for test

# print(ratings1)
# print(ratings2)
# ratings1,ratings2 = reindex_ratings(ratings1,ratings2)
# print(ratings1,ratings2)

seq1 = find_dict(ratings1)
seq2 = find_dict(ratings2)
# print(seq1,seq2)
user_unique1 = list(ratings1['userId'].unique())
user_unique2 = list(ratings2['userId'].unique())
user_node,seq_d1, seq_d2, domain_id  = [], [], [], []

for u_id_tmp in user_unique1:
    if len(seq1[u_id_tmp])>=2 and (len(seq2[u_id_tmp])>=2 or len(seq2[u_id_tmp])==0):
        user_node.append(u_id_tmp)
        seq_d1.append(seq1[u_id_tmp])
        seq_d2.append(seq2[u_id_tmp])
        domain_id.append(0)

for u_id_tmp in user_unique2:
    if len(seq2[u_id_tmp])>=2 and (len(seq1[u_id_tmp])>=2 or len(seq1[u_id_tmp])==0):
        user_node.append(u_id_tmp)
        seq_d1.append(seq1[u_id_tmp])
        seq_d2.append(seq2[u_id_tmp])
        domain_id.append(1)
        
from itertools import chain
flattened_list = list(chain(*(seq_d1+seq_d2)))
# dataframe.to_csv(save_csv_name,index=0001393774False,sep=',')

1971143 43672 2844835 3851668 97249 6878784
20117 7095 112136
88812 33956 676820

In [309]:
import pandas as pd

def to_dataframe(data):
    keys= list()
    values = list()
    for key, value in data.items():
        keys.append(key)
        values.append(value)
    return pd.DataFrame({'item':keys,'seq':values})
    
meta1_item_also_view, meta1_item_similar = to_dataframe(meta1_item_also_view), to_dataframe(meta1_item_similar)
meta2_item_also_view, meta2_item_similar = to_dataframe(meta2_item_also_view), to_dataframe(meta2_item_similar)

In [310]:
meta1_item_also_view = meta1_item_also_view[meta1_item_also_view['item'].isin(flattened_list)]
meta1_item_similar = meta1_item_similar[meta1_item_similar['item'].isin(flattened_list)]
meta2_item_also_view = meta2_item_also_view[meta2_item_also_view['item'].isin(flattened_list)]
meta2_item_similar = meta2_item_similar[meta2_item_similar['item'].isin(flattened_list)]

In [311]:
meta1_item_also_view

             item                                                seq
80     9658231950  [B00CXKF42O, B00F41JE84, B00GGG15TC, B00FVRD56...
236    B0000DYUZO  [B00EO915DE, B002KEKOSM, B008TWF96Q, B004WYNZ3...
246    B0001DVQNG  [B00EPBFFT6, B003ODVN88, B003Q54V88, B009GKWDP...
252    B0001YX9ZI  [B0086UXW8I, B003Z6QH44, B0044DEESS, B003S3RFI...
271    B000227PL8  [B00DQFGJR4, B00483WRZ6, B00E6GX4BG, B00K8AB1M...
...           ...                                                ...
86664  B00KNOGK48  [B00KFVM6K6, B00JX4USZ6, B00K4XC8EO, B00LJT2EP...
86744  B00KQT0Q0E  [B00KX8OL1S, B00KNM763E, B00KJLE2CC, B00KEK4Q5...
86803  B00KROF20M  [B00KL20H1E, B0098FKL1Q, B0098FKIZU, B0098FKLW...
86818  B00KS0BL5A  [B009RYX94E, B0085JRQIC, B0085JRQPU, B0085JRQG...
87112  B00L2JZZJE  [B00KL3JNJU, B00KL3JMNC, B00KL3K74A, B00KL3JPN...

[846 rows x 2 columns]

In [312]:
# 将 flattened_list 转化为 set 集合
flattened_set = set(flattened_list)

# 筛选出符合条件的元素
meta1_item_also_view['seq'] = meta1_item_also_view['seq'].apply(lambda x: list(set(x).intersection(flattened_set)))
meta1_item_similar['seq'] = meta1_item_similar['seq'].apply(lambda x: list(set(x).intersection(flattened_set)))
meta2_item_also_view['seq'] = meta2_item_also_view['seq'].apply(lambda x: list(set(x).intersection(flattened_set)))
meta2_item_similar['seq'] = meta2_item_similar['seq'].apply(lambda x: list(set(x).intersection(flattened_set)))

In [313]:
meta1_item_also_view_dict = meta1_item_also_view.set_index('item')['seq'].to_dict()
meta1_item_similar_dict = meta1_item_similar.set_index('item')['seq'].to_dict()
meta2_item_also_view_dict = meta2_item_also_view.set_index('item')['seq'].to_dict()
meta2_item_similar_dict = meta2_item_similar.set_index('item')['seq'].to_dict()

In [314]:
#append view/similar数据
# user_node,seq_d1, seq_d2, domain_id  = [], [], [], []
# print(meta1_item_also_view_dict)
view_lists, sim_lists = [], []
view_lists_d1, view_lists_d2 = list(),list()
j =0 
for i in range(len(user_node)):
    view_tmp, view_d1_tmp, view_d2_tmp, sim_tmp = [], [], [], []
    seq_tmp1 = seq_d1[i][:-1]
    seq_tmp2 = seq_d2[i][:-1]
    for item_id in seq_tmp1:
        try:
            view_tmp.extend(meta1_item_also_view_dict[item_id])
            view_d1_tmp.extend(meta1_item_also_view_dict[item_id])
        except:
            view_tmp.extend([])
            view_d1_tmp.extend([])          
        try:
            sim_tmp.extend(meta1_item_similar_dict[item_id])
        except:
            sim_tmp.extend([])
        
    for item_id in seq_tmp2:
        try:  
            view_tmp.extend(meta2_item_also_view_dict[item_id])
            view_d2_tmp.extend(meta2_item_also_view_dict[item_id])
        except:
            view_tmp.extend([])
            view_d2_tmp.extend([])          
   
        try:  
            sim_tmp.extend(meta2_item_similar_dict[item_id])
        except:
            sim_tmp.extend([])
    if len(view_tmp) > 0 or len(sim_tmp) > 0:
        j += 1
    view_lists.append(view_tmp)
    sim_lists.append(sim_tmp)
    view_lists_d1.append(view_d1_tmp)
    view_lists_d2.append(view_d2_tmp)
# print(view_lists[:1000], sim_lists[:1000])

In [315]:
dataframe = pd.DataFrame({'user_id':user_node,'seq_d1':seq_d1,'seq_d2':seq_d2,'domain_id':domain_id,'also_view':view_lists,'also_view_d1':view_lists_d1,'also_view_d2':view_lists_d2,'similiar':sim_lists})
print(len(dataframe))
user_unique1 = list(dataframe['user_id'].unique())
user_dict = dict()
for i in range(len(user_unique1)):
    user_dict[user_unique1[i]] = i
dataframe['user_id'] = dataframe['user_id'].apply(lambda x :user_dict[x])
print(dataframe)

107967
        user_id                                             seq_d1  \
0             0  [3998899561, 878968897X, 9658231942, 965823195...
1             1  [3998899561, 878968897X, 9658231942, 965823195...
2             2  [3998899561, 878968897X, 9658231950, 981995843...
3             3  [3998899561, 878968897X, 9658231942, 981995843...
4             4  [3998899561, 878968897X, 9658231942, 965823195...
...         ...                                                ...
107962    93005                                                 []
107963    19576  [B00GWMTSRQ, B00II0M68I, B00JON18WS, B00KCZO2W...
107964    19503  [B00EOM4CM2, B00FAX1QZA, B00GWMTSRQ, B00II0M68...
107965    19541  [B00FAX1QZA, B00GSA6X7K, B00I9KKAHQ, B00IOUDVP...
107966    19592  [B00IAUK3XQ, B00IEDFY4M, B00II0M68I, B00IO1Y4H...

                                                   seq_d2  domain_id  \
0                                                      []          0
1                                                      []          0
2                                                      []          0
3                                                      []          0
4                                                      []          0
...                                                   ...        ...
107962                           [B00FRBPJOO, B00FRBPK5W]          1
107963  [B00FXBKNQC, B00FZ5J8IA, B00GMRCAC6, B00IFEERU...          1
107964   [B00FZ5J8IA, B00GMRCAC6, B00KC7I2GU, B00KCRYIWM]          1
107965  [B00FZ5J8IA, B00GMRCAC6, B00IFEERU2, B00KC7I2G...          1
107966   [B00GMRCAC6, B00KC7I2GU, B00KCRYIWM, B00KSLCU72]          1

                                                also_view  \
0                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
1                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
2                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
3                                                      []
4                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
...                                                   ...
107962                                                 []
107963  [B00IWYDH1K, B00K6IGTI8, B00J9PZGR4, B000AV14O...
107964               [B009WINCME, B00AIGP9QG, B00F57LWIC]
107965  [B00GCQN0Y4, B00G6WDYPO, B00B59NKRU, B005WF9OH...
107966  [B009AG26WA, B00F5OYEFI, B00KCZO2WK, B0098PMJK...

                                             also_view_d1  \
0                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
1                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
2                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
3                                                      []
4                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
...                                                   ...
107962                                                 []
107963               [B00IWYDH1K, B00K6IGTI8, B00J9PZGR4]
107964               [B009WINCME, B00AIGP9QG, B00F57LWIC]
107965  [B00GCQN0Y4, B00G6WDYPO, B00B59NKRU, B005WF9OH...
107966  [B009AG26WA, B00F5OYEFI, B00KCZO2WK, B0098PMJK...

                                             also_view_d2  \
0                                                      []
1                                                      []
2                                                      []
3                                                      []
4                                                      []
...                                                   ...
107962                                                 []
107963  [B000AV14OK, B000234TYI, B0055531H4, B0058FN6V...
107964                                                 []
107965                                                 []
107966                                                 []

                                                 similiar
0                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
1                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
2                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
3                                                      []
4                    [B00CIXETS6, B00IKEVZSO, B00BMCYYL6]
...                                                   ...
107962                                                 []
107963  [B00IWYDH1K, B00K6IGTI8, B00J9PZGR4, B000AV14O...
107964               [B009WINCME, B00AIGP9QG, B00F57LWIC]
107965  [B00GCQN0Y4, B00G6WDYPO, B00B59NKRU, B005WF9OH...
107966  [B009AG26WA, B00F5OYEFI, B00KCZO2WK, B0098PMJK...

[107967 rows x 8 columns]

In [316]:
item_unique = list(dataframe['seq_d1']) + list(dataframe['seq_d2']) + list(dataframe['also_view']) + list(dataframe['also_view_d1']) + list(dataframe['also_view_d2']) + list(dataframe['similiar'])
item_set = set(list(chain(*item_unique)))
item_hash_dict = dict()
i = 0 
for j in item_set:
    item_hash_dict[j] = i
    i += 1

In [317]:
# print(dict(list(item_hash_dict.items())[:10]))
def get_item_hash(item):
    return [item_hash_dict[i] for i in item]
dataframe['seq_d1'] = dataframe['seq_d1'].apply(get_item_hash)
dataframe['seq_d2'] = dataframe['seq_d2'].apply(get_item_hash)
dataframe['also_view'] = dataframe['also_view'].apply(get_item_hash)
dataframe['also_view_d1'] = dataframe['also_view_d1'].apply(get_item_hash)
dataframe['also_view_d2'] = dataframe['also_view_d2'].apply(get_item_hash)
dataframe['similiar'] = dataframe['similiar'].apply(get_item_hash)
dataframe

,user_id,seq_d1,seq_d2,domain_id,also_view,also_view_d1,also_view_d2,similiar
0,0,"[11998, 2187, 15708, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
1,1,"[11998, 2187, 15708, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
2,2,"[11998, 2187, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
3,3,"[11998, 2187, 15708, 22161, 16984]",[],0,[],[],[],[]
4,4,"[11998, 2187, 15708, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
...,...,...,...,...,...,...,...,...
107962,93005,[],"[35098, 35194]",1,[],[],[],[]
107963,19576,"[18254, 37152, 24583, 15572, 34461]","[19635, 8573, 29313, 20271, 7245, 8910]",1,"[28586, 15943, 22117, 11885, 15730, 40621, 870...","[28586, 15943, 22117]","[11885, 15730, 40621, 8708, 4969, 39325, 22367...","[28586, 15943, 22117, 11885, 15730, 40621, 870..."
107964,19503,"[23520, 8700, 18254, 37152, 9835, 15943, 5233,...","[8573, 29313, 18486, 7245]",1,"[28285, 20220, 6689]","[28285, 20220, 6689]",[],"[28285, 20220, 6689]"
107965,19541,"[8700, 29907, 37052, 30109, 28489, 37077, 2733...","[8573, 29313, 20271, 18486, 21856]",1,"[10955, 790, 17042, 2427, 27331, 790, 14699, 2...","[10955, 790, 17042, 2427, 27331, 790, 14699, 2...",[],"[10955, 790, 17042, 2427, 27331, 790, 14699, 2..."
107966,19592,"[6068, 24083, 37152, 29449, 34070, 7837, 22117...","[29313, 18486, 7245, 21856]",1,"[8545, 13907, 15572, 23194, 37109, 15840, 2462...","[8545, 13907, 15572, 23194, 37109, 15840, 2462...",[],"[8545, 13907, 15572, 23194, 37109, 15840, 2462..."

In [318]:
import pandas as pd

# dataframe = dataframe.drop(columns=['similiar'])
# dataframe2 = dataframe[dataframe['also_view'].apply(lambda x: len(x) > 0)]
dataframe2 = dataframe
print(len(dataframe2))

107967

In [319]:
df_d1 = dataframe2[dataframe2['seq_d2'].apply(lambda x: len(x) == 0)]
# df_d1 = df_d1[df_d1['seq_d1'].apply(lambda x: len(x)>15 and len(x)<40 )]
df_d2 = dataframe2[dataframe2['seq_d1'].apply(lambda x: len(x) == 0)]
# df_d2 = df_d2[df_d2['seq_d2'].apply(lambda x: len(x)>15 and len(x)<40)]
df_both_t = dataframe2[dataframe2['seq_d1'].apply(lambda x: len(x) > 0)]
df_both = df_both_t[df_both_t['seq_d2'].apply(lambda x: len(x) > 0)]
# df_both = df_both[df_both['seq_d1'].apply(lambda x: len(x)>15 and len(x)<40 )]
# df_both = df_both[df_both['seq_d2'].apply(lambda x: len(x)>15 and len(x)<40 )]
print(len(df_d1),len(df_d2),len(df_both))

4642 73403 29922

In [320]:
#random select 20000 15000 10000
# df_d1 = df_d1.sample(frac=0.33, random_state=1)
df_d2 = df_d2.sample(frac=0.1089, random_state=1)
df_both = df_both.sample(frac=0.25, random_state=1)
print(len(df_d1),len(df_d2),len(df_both))

4642 7994 7480

In [321]:
df_all = pd.concat([df_d1, df_d2, df_both], ignore_index=True)
# df_all = df_all.sample(frac=0.5,random_state=1)
df_all

,user_id,seq_d1,seq_d2,domain_id,also_view,also_view_d1,also_view_d2,similiar
0,0,"[11998, 2187, 15708, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
1,1,"[11998, 2187, 15708, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
2,2,"[11998, 2187, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
3,3,"[11998, 2187, 15708, 22161, 16984]",[],0,[],[],[],[]
4,4,"[11998, 2187, 15708, 38982, 22161, 16984]",[],0,"[32976, 33631, 29300]","[32976, 33631, 29300]",[],"[32976, 33631, 29300]"
...,...,...,...,...,...,...,...,...
20111,17723,"[27968, 39341, 31893, 24309, 24165, 27509]","[9387, 7097, 38410, 29710, 29623, 36841, 36079...",0,"[32046, 35724, 541, 17826, 18594, 28862, 39279...",[],"[32046, 35724, 541, 17826, 18594, 28862, 39279...","[32046, 35724, 541, 17826, 18594, 28862, 39279..."
20112,1043,"[18281, 12577]","[36844, 11513, 37724]",0,[],[],[],[]
20113,2070,"[11251, 6124, 34956, 38361, 13284]","[26341, 28473, 27293, 20468, 17516, 6124, 1816...",1,"[37209, 14558, 29793, 21747, 36567, 2818, 1537...",[],"[37209, 14558, 29793, 21747, 36567, 2818, 1537...","[37209, 14558, 29793, 21747, 36567, 2818, 1537..."
20114,6544,"[3221, 26630, 27440, 35518, 30117, 11523, 2636...","[11647, 21942, 25703, 20987, 12649, 5001, 1437...",0,"[35782, 1898, 38807, 19033, 32968, 37209, 1772...","[35782, 1898, 38807, 19033, 32968]","[37209, 17726, 16525, 29793, 20253, 21315, 881...","[35782, 1898, 38807, 19033, 32968, 37209, 1772..."
20115,19458,"[21392, 22236, 18644, 39437, 4292, 38781, 3386...","[40398, 12673, 33080, 36499, 8573, 22499, 1793...",1,"[27331, 38464, 10955, 19036, 17820, 17699, 145...","[27331, 38464, 10955, 19036, 17820, 17699, 145...","[9419, 20281, 9351, 31825, 7262, 31020, 8201, ...","[27331, 38464, 10955, 19036, 17820, 17699, 145..."

In [322]:
#rehash encode user id /item id
item_unique2 = list(df_all['seq_d1']) + list(df_all['seq_d2']) + list(df_all['also_view']) + list(df_all['also_view_d1']) + list(df_all['also_view_d2'])  
item_set2 = set(list(chain(*item_unique2)))
item_hash_dict2 = dict()
i = 0 
for j in item_set2:
    item_hash_dict2[j] = i
    i += 1
    
def get_item_hash2(item):
    return [item_hash_dict2[i] for i in item]
    
df_all['seq_d1'] = df_all['seq_d1'].apply(get_item_hash2)
df_all['seq_d2'] = df_all['seq_d2'].apply(get_item_hash2)
df_all['also_view'] = df_all['also_view'].apply(get_item_hash2)
df_all['also_view_d1'] = df_all['also_view_d1'].apply(get_item_hash2)
df_all['also_view_d2'] = df_all['also_view_d2'].apply(get_item_hash2)

# user_unique2 = list(df_all['user_id'])
# user_set2 = set(list(chain(*user_unique2)))
# user_hash_dict2 = dict()
# i = 0 
# for j in user_set2:
#     user_hash_dict2[j] = i
#     i += 1
    
# def get_item_hash3(item):
#     return [user_hash_dict2[item]]
# df_all['user_id'] = df_all['user_id'].apply(get_item_hash3)
df_all.to_csv("/ossfs/workspace/denoise_cdsr/dataset_14/phone_elec_all.csv")
df_all

,user_id,seq_d1,seq_d2,domain_id,also_view,also_view_d1,also_view_d2,similiar
0,0,"[11106, 2011, 14552, 36082, 20542, 15737]",[],0,"[30519, 31121, 27119]","[30519, 31121, 27119]",[],"[32976, 33631, 29300]"
1,1,"[11106, 2011, 14552, 36082, 20542, 15737]",[],0,"[30519, 31121, 27119]","[30519, 31121, 27119]",[],"[32976, 33631, 29300]"
2,2,"[11106, 2011, 36082, 20542, 15737]",[],0,"[30519, 31121, 27119]","[30519, 31121, 27119]",[],"[32976, 33631, 29300]"
3,3,"[11106, 2011, 14552, 20542, 15737]",[],0,[],[],[],[]
4,4,"[11106, 2011, 14552, 36082, 20542, 15737]",[],0,"[30519, 31121, 27119]","[30519, 31121, 27119]",[],"[32976, 33631, 29300]"
...,...,...,...,...,...,...,...,...
20111,17723,"[25896, 36412, 29514, 22532, 22397, 25478]","[8687, 6578, 35551, 27499, 27417, 34085, 33372...",0,"[29655, 33042, 494, 16533, 17244, 26715, 36356...",[],"[29655, 33042, 494, 16533, 17244, 26715, 36356...","[32046, 35724, 541, 17826, 18594, 28862, 39279..."
20112,1043,"[16956, 11646]","[34088, 10660, 34914]",0,[],[],[],[]
20113,2070,"[10417, 5692, 32329, 35507, 12296]","[24400, 26356, 25281, 18968, 16241, 5692, 1685...",1,"[34429, 13484, 27578, 20158, 33829, 2597, 1424...",[],"[34429, 13484, 27578, 20158, 33829, 2597, 1424...","[37209, 14558, 29793, 21747, 36567, 2818, 1537..."
20114,6544,"[2972, 24670, 25414, 32846, 27878, 10668, 2442...","[10781, 20341, 23819, 19459, 11711, 4629, 1331...",0,"[33098, 1746, 35917, 17649, 30512, 34429, 1643...","[33098, 1746, 35917, 17649, 30512]","[34429, 16437, 15311, 27578, 18765, 19759, 815...","[35782, 1898, 38807, 19033, 32968, 37209, 1772..."
20115,19458,"[19833, 20612, 17293, 36501, 3971, 35896, 3133...","[37392, 11734, 30613, 33765, 7937, 20860, 1663...",1,"[25316, 35601, 10147, 17651, 16527, 16410, 134...","[25316, 35601, 10147, 17651, 16527, 16410, 134...","[8717, 18793, 8654, 29450, 6732, 28710, 7595, ...","[27331, 38464, 10955, 19036, 17820, 17699, 145..."

In [323]:
print(len(item_hash_dict2),i)
maxlen = -1
also_view_tmp = df_all["also_view"].tolist()
for tmp in also_view_tmp:
    maxlen = max(maxlen,len(tmp))
maxlen

37687 37687

1687

In [324]:
#overlap ratio 滑动 分train/test，train变，test不变
import os
import random
from typing import DefaultDict
from tqdm import tqdm
import numpy as np
import pandas as pd
from collections import defaultdict
import json
from random import sample

def select_overlap_user(df,save_train_name,overlap_ratio):
    data = df
    user_node = data['user_id'].tolist()
    seq_d1 = data['seq_d1'].tolist()
    seq_d2 = data['seq_d2'].tolist()
    domain_id = data['domain_id'].tolist()
    also_view = data['also_view'].tolist()
    also_view_d1 = data['also_view_d1'].tolist()
    also_view_d2 = data['also_view_d2'].tolist()

    user_node_overlap,seq_d1_overlap, seq_d2_overlap, domain_id_overlap, also_view_overlap,also_view_overlap_d1,also_view_overlap_d2  = [], [], [], [], [], [], []
    user_node_nolap,seq_d1_nolap, seq_d2_nolap, domain_id_nolap, also_view_nolap,also_view_nolap_d1,also_view_nolap_d2  = [], [], [], [], [], [], []
    for i in range(len(user_node)):
        seq1_tmp = seq_d1[i]
        seq2_tmp = seq_d2[i]
        if len(seq1_tmp)!=0 and len(seq2_tmp)!=0:
            user_node_overlap.append(user_node[i])
            seq_d1_overlap.append(seq1_tmp)
            seq_d2_overlap.append(seq2_tmp)
            domain_id_overlap.append(domain_id[i])
            also_view_overlap.append(also_view[i])
            also_view_overlap_d1.append(also_view_d1[i])
            also_view_overlap_d2.append(also_view_d2[i])
        else :
            user_node_nolap.append(user_node[i])
            seq_d1_nolap.append(seq1_tmp)
            seq_d2_nolap.append(seq2_tmp)
            domain_id_nolap.append(domain_id[i])
            also_view_nolap.append(also_view[i])
            also_view_nolap_d1.append(also_view_d1[i])
            also_view_nolap_d2.append(also_view_d2[i])
    print(len(user_node_overlap),len(user_node_nolap)) # 3384 69945
    #nolap_num = int(len(user_node_overlap)/overlap_ratio-len(user_node_overlap)) # 3384 + 
    sample_overlap_num = int(len(user_node_overlap)*overlap_ratio)
    idx_lst = [i for i in range(len(user_node_overlap))]
    select_idx = sample(idx_lst, sample_overlap_num)
    print(sample_overlap_num)
    # print(select_idx)
    for i in select_idx:
        user_node_nolap.append(user_node_overlap[i])
        seq_d1_nolap.append(seq_d1_overlap[i])
        seq_d2_nolap.append(seq_d2_overlap[i])
        domain_id_nolap.append(domain_id_overlap[i])
        also_view_nolap.append(also_view_overlap[i])
        also_view_nolap_d1.append(also_view_overlap_d1[i])
        also_view_nolap_d2.append(also_view_overlap_d2[i])

    # print(len(user_node_nolap))
    dataframe = pd.DataFrame({'user_id':user_node_nolap,'seq_d1':seq_d1_nolap,'seq_d2':seq_d2_nolap,'domain_id':domain_id_nolap,'also_view':also_view_nolap,'also_view_d1':also_view_nolap_d1,'also_view_d2':also_view_nolap_d2})
    dataframe.to_csv(save_train_name,index=False,sep=',')

data = df_all.sample(frac=1.0)
train_len = int(data.shape[0] * 0.80)
save_data_train = data.iloc[ : train_len]
save_data_val = data.iloc[ train_len: ]
train_name = "/ossfs/workspace/denoise_cdsr/dataset_14/phone_elec_train100.csv"
val_name = "/ossfs/workspace/denoise_cdsr/dataset_14/phone_elec_test.csv"
save_data_train.to_csv(train_name, index=False)
save_data_val.to_csv(val_name, index=False)

ratios = [0.25,0.75]
for overlap_ratio in ratios:
# #game video 90 refine
    save_train_name = "/ossfs/workspace/denoise_cdsr/dataset_14/phone_elec_train"+str(int(overlap_ratio*100))+".csv"
    select_overlap_user(save_data_train,save_train_name,overlap_ratio)

5987 10105
1496
5987 10105
4490

In [325]:
# generate cold-start users
def select_overlap_user_csu(df,save_train_name,overlap_ratio):
    data = df
    user_node = data['user_id'].tolist()
    seq_d1 = data['seq_d1'].tolist()
    seq_d2 = data['seq_d2'].tolist()
    domain_id = data['domain_id'].tolist()
    also_view = data['also_view'].tolist()
    also_view_d1 = data['also_view_d1'].tolist()
    also_view_d2 = data['also_view_d2'].tolist()
    user_node_overlap,seq_d1_overlap, seq_d2_overlap, domain_id_overlap, also_view_overlap,also_view_overlap_d1,also_view_overlap_d2  = [], [], [], [], [], [], []
    user_node_nolap,seq_d1_nolap, seq_d2_nolap, domain_id_nolap, also_view_nolap,also_view_nolap_d1,also_view_nolap_d2  = [], [], [], [], [], [], []
    for i in range(len(user_node)):
        seq1_tmp = json.loads(seq_d1[i])
        seq2_tmp = json.loads(seq_d2[i])
        if len(seq1_tmp)!=0 and len(seq2_tmp)!=0:
            user_node_overlap.append(user_node[i])
            seq_d1_overlap.append(seq1_tmp)
            seq_d2_overlap.append(seq2_tmp)
            domain_id_overlap.append(domain_id[i])
            also_view_overlap.append(also_view[i])
            also_view_overlap_d1.append(also_view_d1[i])
            also_view_overlap_d2.append(also_view_d2[i])
        else :
            user_node_nolap.append(user_node[i])
            seq_d1_nolap.append(seq1_tmp)
            seq_d2_nolap.append(seq2_tmp)
            domain_id_nolap.append(domain_id[i])
            also_view_nolap.append(also_view[i])
            also_view_nolap_d1.append(also_view_d1[i])
            also_view_nolap_d2.append(also_view_d2[i])
    print(len(user_node_overlap),len(user_node_nolap)) # 3384 69945
    #nolap_num = int(len(user_node_overlap)/overlap_ratio-len(user_node_overlap)) # 3384 + 
    sample_overlap_num = int(len(user_node_overlap)*overlap_ratio)
    idx_lst = [i for i in range(len(user_node_overlap))]
    select_idx = sample(idx_lst, sample_overlap_num)
    print(sample_overlap_num)
    # print(select_idx)
    for i in range(len(user_node_overlap)):
        if i in select_idx: # cold-start users
            if domain_id_overlap[i]==0:
                user_node_nolap.append(user_node_overlap[i])
                seq_d1_nolap.append(seq_d1_overlap[i][-1:])
                seq_d2_nolap.append(seq_d2_overlap[i])
                domain_id_nolap.append(domain_id_overlap[i])
                also_view_nolap.append(also_view_overlap[i])    
                also_view_nolap_d1.append(also_view_overlap_d1[i])
                also_view_nolap_d2.append(also_view_overlap_d2[i])
            else:
                user_node_nolap.append(user_node_overlap[i])
                seq_d1_nolap.append(seq_d1_overlap[i])
                seq_d2_nolap.append(seq_d2_overlap[i][-1:])
                domain_id_nolap.append(domain_id_overlap[i])
                also_view_nolap.append(also_view_overlap[i]) 
                also_view_nolap_d1.append(also_view_overlap_d1[i])
                also_view_nolap_d2.append(also_view_overlap_d2[i])    
        else:
            user_node_nolap.append(user_node_overlap[i])
            seq_d1_nolap.append(seq_d1_overlap[i])
            seq_d2_nolap.append(seq_d2_overlap[i])
            domain_id_nolap.append(domain_id_overlap[i])
            also_view_nolap.append(also_view_overlap[i])
            also_view_nolap_d1.append(also_view_overlap_d1[i])
            also_view_nolap_d2.append(also_view_overlap_d2[i])
    # print(len(user_node_nolap))
    dataframe = pd.DataFrame({'user_id':user_node_nolap,'seq_d1':seq_d1_nolap,'seq_d2':seq_d2_nolap,'domain_id':domain_id_nolap,'also_view':also_view_nolap,'also_view_d1':also_view_nolap_d1,'also_view_d2':also_view_nolap_d2})
    dataframe.to_csv(save_train_name,index=False,sep=',')

save_data_val  = pd.read_csv("/ossfs/workspace/denoise_cdsr/dataset_14/phone_elec_test.csv")
ratio = 0.20
csu_name = "/ossfs/workspace/denoise_cdsr/dataset_14/phone_elec_test_csu.csv"
test_csu = select_overlap_user_csu(save_data_val,csu_name,ratio)

1493 2531
298

In [326]:
# from itertools import chain
# test_data = pd.read_csv("/ossfs/workspace/denoise_cdsr/dataset/music_movie_train25.csv")
# # print(type(test_data['seq_d1'].tolist()[0]))
# # item_pool_d1 = list(chain(*list(test_data['seq_d1'])))
# # item_pool_d1 = set(list(chain(*list(test_data['seq_d1']))))
# # item_pool_d1
# seq1 = test_data['seq_d1'].tolist()
# item_d1 = list()
# for item_seq in seq1:
#     item_seq_list = json.loads(item_seq)
#     for i_tmp in item_seq_list:
#         item_d1.append(i_tmp)
# item_pool_d1 = set(item_d1)
# item_pool_d1

In [327]:
#density experiment 
# import pandas as pd 
# def select_density_user(df_name,save_name,ratio):
#     data = pd.read_csv(df_name,sep=',')
#     user_node = data['user_id'].tolist()
#     seq_d1 = data['seq_d1'].tolist()
#     seq_d2 = data['seq_d2'].tolist()
#     domain_id = data['domain_id'].tolist()
#     also_view = data['also_view'].tolist()
#     also_view_d1 = data['also_view_d1'].tolist()
#     also_view_d2 = data['also_view_d2'].tolist()

#     user_node_overlap,seq_d1_overlap, seq_d2_overlap, domain_id_overlap, also_view_overlap,also_view_overlap_d1,also_view_overlap_d2  = [], [], [], [], [], [], []
#     user_node_nolap,seq_d1_nolap, seq_d2_nolap, domain_id_nolap, also_view_nolap,also_view_nolap_d1,also_view_nolap_d2  = [], [], [], [], [], [], []
#     for i in range(len(user_node)):
#         seq1_tmp = json.loads(seq_d1[i])
#         seq2_tmp = json.loads(seq_d2[i])
#         if len(seq1_tmp)!=0:
#             seq1_tmp = seq1_tmp[:max(2,int(len(seq1_tmp)*ratio))]
#         if len(seq2_tmp)!=0:
#             seq2_tmp = seq2_tmp[:max(2,int(len(seq2_tmp)*ratio))]
#         user_node_nolap.append(user_node[i])
#         seq_d1_nolap.append(seq1_tmp)
#         seq_d2_nolap.append(seq2_tmp)
#         domain_id_nolap.append(domain_id[i])
#         also_view_nolap.append(also_view[i])
#         also_view_nolap_d1.append(also_view_d1[i])
#         also_view_nolap_d2.append(also_view_d2[i])
#     print(len(user_node_overlap),len(user_node_nolap)) # 3384 69945

#     # print(len(user_node_nolap))
#     dataframe = pd.DataFrame({'user_id':user_node_nolap,'seq_d1':seq_d1_nolap,'seq_d2':seq_d2_nolap,'domain_id':domain_id_nolap,'also_view':also_view_nolap,'also_view_d1':also_view_nolap_d1,'also_view_d2':also_view_nolap_d2})
#     dataframe.to_csv(save_name,index=False,sep=',')

# density_ratio = 0.5

# df_name = "/ossfs/workspace/VAE_CDR/dataset/music_movie_testDS100.csv"
# save_name = "/ossfs/workspace/VAE_CDR/dataset/music_movie_testDS50.csv"
# select_density_user(df_name,save_name,density_ratio)

In [328]:
# find the largest id of the items
from itertools import chain
import pandas as pd
df = pd.read_csv("/ossfs/workspace/denoise_cdsr/dataset_14/phone_elec_all.csv")
import json

df['seq_d1'] = df['seq_d1'].apply(json.loads)
df['seq_d2'] = df['seq_d2'].apply(json.loads)
df['also_view'] = df['also_view'].apply(json.loads)
df['also_view_d1'] = df['also_view_d1'].apply(json.loads)
df['also_view_d2'] = df['also_view_d2'].apply(json.loads)

item_unique2 = list(df['seq_d1'].tolist()) + list(df['seq_d2'].tolist()) + list(df['also_view'].tolist()) + list(df['also_view_d1'].tolist()) + list(df['also_view_d2'].tolist())  
# # print(item_unique2)
item_set2 = set(list(chain(*item_unique2)))
# print(item_set2)
print(max(item_set2))

37686